.git
.github
.idea
.vs
.vscode
TestResults
artifacts

src/**/bin/
src/**/obj/
src/**/.DS_Store

src/Themes/

src/Presentation/Nop.Web/App_Data/DataProtectionKeys/*.xml
src/Presentation/Nop.Web/App_Data/appsettings*.json
src/Presentation/Nop.Web/App_Data/plugins.json
src/Presentation/Nop.Web/App_Data/WS.*/
src/Presentation/Nop.Web/wwwroot/bundles/
src/Presentation/Nop.Web/wwwroot/images/thumbs/
