@model ReturnStatusModel
@{
    Layout = "_ColumnsOne";
}

<div class="page latipay-return-page">
    <div class="page-title">
        <h1>@T("Plugins.Payments.Latipay.Return.Success")</h1>
    </div>
    <div class="page-body">
        <p>@Model.Message</p>
        @if (Model.OrderId.HasValue)
        {
            <div class="buttons">
                <a class="button-1 order-details-button" href="@Url.RouteUrl(NopRouteNames.Standard.ORDER_DETAILS, new { orderId = Model.OrderId.Value })">
                    @T("Account.CustomerOrders.OrderDetails")
                </a>
            </div>
        }
    </div>
</div>
