@model ProductDetailsModel.GiftCardModel

@if (Model.IsGiftCard)
{
    <div class="giftcard">
        <div>
            <div class="giftcard-label">
                <label asp-for="RecipientName" asp-postfix=":"></label>
                <nop-required />
            </div>
            <input asp-for="RecipientName" class="recipient-name" />
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div>
                <div class="giftcard-label">
                    <label asp-for="RecipientEmail" asp-postfix=":"></label>
                    <nop-required />
                </div>
                <input asp-for="RecipientEmail" class="recipient-email" />
            </div>
        }
        <div>
            <div class="giftcard-label">
                <label asp-for="SenderName" asp-postfix=":"></label>
                <nop-required />
            </div>
            <input asp-for="SenderName" class="sender-name" />
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div>
                <div class="giftcard-label">
                    <label asp-for="SenderEmail" asp-postfix=":"></label>
                    <nop-required />
                </div>
                <input asp-for="SenderEmail" class="sender-email" />
            </div>
        }
        <div>
            <label asp-for="Message" asp-postfix=":"></label>
            <textarea asp-for="Message" class="message"></textarea>
        </div>
    </div>
}
